.sidebar{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    /* overflow-x: hidden;
    overflow-y: auto; */
    /* background-color: #28282817!important; */
    /* box-shadow: ; */
    transition: left 0.3s;
}

.sidebar:hover{
    /* right: auto!important; */
    left:0!important;
    /* background-color: #282828a2!important; */
    transition: left 0.4s
}

.indic-slide{
    background-color: #e9e9e8;
    /* border-bottom-right-radius: 10%; */
    /* border-top-right-radius: 10%; */
    transition: 0.3s
}

.indic-slide .right-arrow{
    display: block!important;
    transition: 0.3s
}

.indic-slide .left-arrow{
    display: none!important;
    transition: 0.3s
}

.icone-bleu{
    color: #3498db;
}

.sidebar:hover .indic-slide{
    background-color: #e9e9e800;
    left: 49rem;
    transition: 0.5s
}

.sidebar:hover .indic-slide .right-arrow{
    display: none!important;
    transition: 0.3s
}

.sidebar:hover .indic-slide .left-arrow{
    display: block!important;
    transition: 0.3s
}

#shad{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(77, 71, 71, 0.288);
    top: 0;
    left: 0;
    z-index: 80!important
}

.sidebar:hover ~ #shad{
    display: block;
}

.nav-container{
    transition: overflow-y 0.4s;
}

.sidebar:hover .nav-container{
    overflow-y: scroll!important;
    transition: overflow-y 0.3s
}

.nav-link:not(.active){
    color: rgb(194, 36, 107)!important;
    background-color: rgba(255, 255, 255, 0.534)!important;
    box-shadow: 0.1px 0.1px 1px 0.1px rgba(240, 74, 149, 0.575);
    transition: font-size 0.3s, box-shadow 0.4s
}

.nav-link:not(.active):hover{
    font-size: 16px!important;
    box-shadow: 0.3px 0.1px 6px 0.1px rgba(240, 74, 149, 0.575);
    transition: font-size 0.3s, box-shadow 0.4s
}

.nav-link{
    margin-top: 3px!important;
}

.Select-value-label {
    color: rgb(15, 75, 90);
}

.VirtualizedSelectOption {
    background-color: white;
    padding: 8px!important;
    color: rgb(32, 63, 71);
    z-index: 70!important
}

.VirtualizedSelectFocusedOption {
    background-color: rgb(14, 37, 43);
    color: white;
}

label{
    text-transform: uppercase;
    color: #fff!important;
    /* transition: 0.4s */
}

#filtre{
    font-size: 12px!important
}



/* .col-5:hover{
    width: 70%!important;
    position: fixed;
    top: 2rem;
    /* transition: 0.4s; */
    /* z-index: 130!important;
} */

/* .visual{
    position: absolute;
    top: 2px;
    right: 2px;
} */

/* .visual button{
    font-size: small;
    padding: 4px!important
}  */

/* 
.visual button:hover ~ .visual button{
    display: block;
} */

#graphics{
    font-weight: bold
}